*{
    padding: 30;
    margin:30;
}
        
        


    

.header img{

    width: 200px;
    height: 200px;
    padding-left: 50px;
    margin-top: 20px;
     object-fit: cover;
    border: radius 50px; 
    float: left;


}
.container1{
    width: 50px;
    
    padding-left: 10px;
    size-adjust: 20px;
}
.container2{
      width: 50px;
    padding-left: 10px;
    size-adjust: 20px;



}
.vertical-line{
    border-left: 2px solid black;
    height: 100px

}
.table{
    border:00px solid black;
    border-collapse: collaps

}table,th,td{
    border: 1px solid black;
  
    border-collapse: collapse;
}

.main{
    margin: 20px;
    padding: 20px;
    
}    
.navigation-bar{
    background-color: rgb(27, 88, 141);
}
.navbar ul{
list-style: none;
margin: 0;
padding: 20px;
display: flex;
gap: 30px;
justify-content: left-end;
}



